/*  your css code here. If applicable */
body {
	background-color: #f5f5f5;
}
.header {
	background-color: #011e29;
	color: white;
	text-align: center;
	font-size: 10px;
	padding: 5px 0px;
}

.main, .pictorial-news-section, .latest-news-section {
	background-color: white;
	margin-top:10px;
	border-radius: 15px;
	padding: 5px;
	text-align : center;
	font-size: 11px;
}

img {
	width: 100px;
}

.box {
	display: grid;
	grid-template-columns:  25% 50% 25%;
	margin: 0px 20px;
	column-gap: 5px
}